.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.brand {
  font-family: 'Yatra One', cursive;
  text-align: center;
  color: #fff;
}
footer p{
  float: right;
}

@media(min-width: 700px) {
  .brand{
    text-align: left;
  }
}
