ul {
  list-style: none;
  padding: 0;
}
.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}
.wrapper > * {
  padding: 1em;
}

.connexion {
  background: #c9e6ff;
}
.inscription {
  background: #f9feff;
}

/* FORM STYLE  CONNEXION*/
.connexion form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.connexion form label{
  display: block;
}
.connexion form p{
  margin:0;
}
.connexion form .full{
  grid-column: 1 / 3;
}
.connexion form button, .connexion form input{
  width: 100%;
  padding: 1em;
  border: 1px solid #f9feff;
}
.connexion form button {
  background: #f9feff;
  border: 0;
  text-transform: uppercase;
}

.connexion form button:hover, .connexion form button:focus{
  background: #92bde7;
  color: #FFF;
  outline: 0;
  transition: background-color 2s ease-out;
}

.connexion form a{
  cursor: pointer;
}

/* FORM STYLE  INSCRIPTION*/
.inscription form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.inscription form label{
  display: block;
}
.inscription form p{
  margin:0;
}
.inscription form .full{
  grid-column: 1 / 3;
}
.inscription form button, .inscription form input{
  width: 100%;
  padding: 1em;
  border: 1px solid #c9e6ff;
}
.inscription form button {
  background: #c9e6ff;
  border: 0;
  text-transform: uppercase;
}

.inscription form button:hover, .inscription form button:focus{
  background: #92bde7;
  color: #FFF;
  outline: 0;
  transition: background-color 2s ease-out;
}


/* LARGE SCREEENS */
@media(min-width: 700px) {
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > *{
    padding: 2em;
  }
}
